[Unit]
Description=Kia Display Manager
Documentation=man:kia(1)
After=systemd-user-sessions.service
Conflicts=getty@tty7.service
Conflicts=gdm.service lightdm.service sddm.service xdm.service

[Service]
Type=simple
ExecStart=/usr/bin/kia
Restart=always
StandardInput=tty
TTYPath=/dev/tty7
TTYReset=yes
TTYVHangup=yes
TTYVTDisallocate=yes

[Install]
Alias=display-manager.service
WantedBy=graphical.target
